@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0B0B0B;
  color: #F3EFE6;
  font-family: serif;
  cursor: none;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 1px solid #C6A75B;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
